<template>
  <div>
    <!-- todo what is maxItem? -->
    <DropdownWithSearch
        :options="[{ id: 1, name: 'Option 1'}, { id: 2, name: 'Option 2'}, { id: 2, name: 'Option XXL'}, { id: 2, name: 'Option XS'}, { id: 2, name: 'Option XL'}]"
        v-on:selected="validateSelection"
        v-on:filter="getDropdownValues"
        :disabled="false"
        name="zipcode"
        :maxItem="10"
        placeholder="Please select an option">
    </DropdownWithSearch>
  </div>
</template>

<script>
import DropdownWithSearch from "../UI/DropdownWithSearch";
export default {
  name: "UIComponents",
  components: {DropdownWithSearch}
}
</script>

<style scoped>

</style>