<template>
  <li>
    <div class="block hover:bg-gray-50">
      <div class="px-4 py-4 sm:px-6">
        <div class="flex items-center justify-between">
          <div class="text-sm font-medium text-blue-600 truncate">
            <a :href="link" target="_blank">{{ title }}</a>
          </div>
          <div class="ml-2 flex-shrink-0 flex">
            <base-button
                @click="removeResource(id)"
                :mode="'px-2 text-xs leading-5 font-semibold rounded-full bg-red-400 text-white'"
            >Delete</base-button>
          </div>
        </div>
        <div class="mt-2 flex justify-between">
          <div class="sm:flex">
            <div class="flex items-center text-sm text-gray-500">
              {{ description }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
</template>

<script>
export default {
  name: "LearningResource",
  inject: ['removeResource'],
  props: ['id', 'title', 'description', 'link'],
  data(){
    return{
    };
  }
}
</script>