<template>
    <base-card>
      <div class="bg-gray-100 py-5 border-b border-gray-200 sm:px-6 rounded-tl rounded-tr">
        <div class="-ml-4 -mt-4 flex justify-between items-center flex-wrap sm:flex-nowrap">
          <div class="ml-4 mt-4">
            <h3 class="text-lg leading-6 font-medium text-gray-900">
              Learning Resources
            </h3>
            <p class="mt-1 text-sm text-gray-500">
              Here are my favorite learning resources:
            </p>
          </div>
          <div class="ml-4 mt-4 flex-shrink-0">
            <button type="button"
                    @click="toggleModal('addResourceForm')"
                    class="relative inline-flex items-center px-2 py-1 border border-transparent shadow-sm text-sm font-small rounded text-white bg-blue-500 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
              Add new Bookmark
            </button>
          </div>
        </div>
      </div>
      <ul class="divide-y divide-gray-200" aria-disabled="true">
        <LearningResource
            v-for="res in resources"
            :key="res.id"
            :id="res.id"
            :title="res.title"
            :description="res.description"
            :link="res.link"
        />
      </ul>
    </base-card>

    <base-modal v-if="isModalOpen" @close="toggleModal">
    <base-card>
      <div class="bg-gray-100 px-4 py-5 border-b border-gray-200 sm:px-6 rounded-tl rounded-tr">
        <div class="-ml-4 -mt-4 flex justify-between items-center flex-wrap sm:flex-nowrap">
          <div class="ml-4 mt-4">
            <h3 class="text-lg leading-6 font-medium text-gray-900">
              Add New Resource
            </h3>
          </div>
        </div>
      </div>
      <form @submit.prevent="submitData" class="p-4">

        <div v-show="inputIsInvalid" class="bg-red-100 border-l-4 border-orange-500 text-orange-700 p-3 mb-2" role="alert">
          <p class="font-bold">Error</p>
          <p>{{ errorMessage }}</p>
        </div>

        <div class="mb-4">
          <label class="block text-sm font-medium text-gray-700">Title</label>
          <div class="mt-1">
            <input type="text" ref="titleInput"
                   class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded" />
          </div>
        </div>

        <div class="mb-4">
          <label class="block text-sm font-medium text-gray-700">Description</label>
          <div class="mt-1">
          <textarea
              ref="descInput"
              rows="3"
              class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded"></textarea>
          </div>
        </div>

        <div class="mb-4">
          <label class="block text-sm font-medium text-gray-700">Link</label>
          <div class="mt-1">
            <input type="text" ref="linkInput"
                   class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded" />
          </div>
        </div>

        <base-button
            :type="'submit'"
            :class="'px-3 py-2 inline-flex text-sm leading-5 font-semibold rounded bg-blue-500 text-white mt-3'">
          Add Resource
        </base-button>

        <base-button
            @click="toggleModal"
            :type="'button'"
            :class="'px-3 py-2 ml-1 inline-flex text-sm leading-5 font-semibold rounded bg-gray-300 text-white mt-3'">
          Cancel
        </base-button>
      </form>
    </base-card>
  </base-modal>
</template>

<script>
import LearningResource from "./LearningResource";

export default {
  inject: ['resources', 'addResource', 'removeResource'],
  components: {
    LearningResource,
  },
  name: "StoredResources",
  data(){
    return{
      isModalOpen: false,
      inputIsInvalid: false,
      errorMessage: '',
    };
  },
  methods:{
    toggleModal(){
      this.isModalOpen = !this.isModalOpen;
      //console.log('toggle modal', this.isModalOpen);
    },
    submitData(){
      //console.log('form submitted');
      this.inputIsInvalid = false;
      const enteredTitle = this.$refs.titleInput.value;
      const enteredDescription = this.$refs.descInput.value;
      const enteredLink = this.$refs.linkInput.value;

      //todo add validation
      if(
          enteredTitle.trim() === '' ||
          enteredDescription.trim() === '' ||
          enteredLink.trim() === ''
      )
      {
        //show error message
        this.inputIsInvalid = true;
        console.log('validation error');
        this.errorMessage = 'Please fill out all the fields. ';
        return;
      }

      if(this.addResource(enteredTitle, enteredDescription, enteredLink)){
        this.isModalOpen = false;
        this.inputIsInvalid = false;
      }
      else {
        //show error message
        this.inputIsInvalid = true;
        this.errorMessage = 'Could not add the resource. Please try again. ';
        console.log('error saving');
        return;
      }
    }
  }
}
</script>