<template>
  <div class="p-7">
    <div class="sm:hidden">
      <p>doesn't work yet </p>
      <label for="tabs" class="sr-only">Select a tab</label>
      <select id="tabs" name="tabs" class="block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
        <option v-for="tab in tabs" :key="tab.name" :selected="tab.current">{{ tab.name }}</option>
      </select>
    </div>
    <div class="hidden sm:block mb-7">
      <div class="border-b border-gray-200">
        <nav class="-mb-px flex space-x-8" aria-label="Tabs">
          <a v-for="tab in tabs"
             @click="setSelectedTab(tab.tabId)"
             :key="tab.name"
             :href="tab.href"
             :class="[selectedTab === tab.tabId ? 'border-blue-500 text-blue-600' : 'border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300', 'whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm']"
             :aria-current="tab.current ? 'page' : undefined">
            {{ tab.name }}
          </a>
        </nav>
      </div>
    </div>

    <keep-alive>
      <component :is="selectedTab"></component>
    </keep-alive>

  </div>
</template>

<script>
import StoredResources from "./StoredResources";
import OtherTools from "./OtherTools";

export default {
  components: {
    StoredResources,
    OtherTools,
  },
  data(){
    return{
      storedResources: [
        {
          id: 'official-guide',
          title: 'Official Guide to Vue.js',
          description: 'The Progressive JavaScript Framework.',
          link: 'https://vuejs.org/'
        },
        {
          id: 'google',
          title: 'Google',
          description: 'Learn to Google for stuff.',
          link: 'https://google.com/'
        },
      ],
      tabs: [
        { name: 'Learning Bookmarks', href: '#', current: false, tabId: 'StoredResources' },
       /* { name: 'Add +', href: '#', current: false, tabId: 'OtherTools' },*/
        { name: 'Other Bookmarks', href: '#', current: false, tabId: 'OtherTools' },
      ],
      selectedTab: 'StoredResources',
    }
  },
  provide(){
    return{
      resources: this.storedResources,
      addResource: this.addResource,
      removeResource: this.removeResource,
    };
  },
  methods: {
    setSelectedTab(tab){
      this.selectedTab = tab;
    },
    addResource(title, desc, url){
      const newResource = {
        id: new Date().toISOString(),
        title: title,
        description: desc,
        link: url,
      };
      if( this.storedResources.unshift(newResource) )
      {
        //console.log('injected resource');
        //console.log('success');
        this.selectedTab = 'StoredResources';
        return true;
      }
      else
      {
        return false;
      }
    },
    removeResource(resId){
      const resIndex = this.storedResources.findIndex(res => res.id === resId);
      this.storedResources.splice(resIndex, 1);
    }
  }
}
</script>