<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
<!--    <title><%= htmlWebpackPlugin.options.title %></title>-->
      <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
      <title>Edyta Jordan / Vue.js Demo</title>
  </head>
  <body class="">
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <script>
        if (location.hostname === "localhost" || location.hostname === "127.0.0.1" || location.hostname === ""){
        document.body.classList.add('debug-screens');
        }
    </script>
    <!-- built files will be auto injected -->
  </body>
</html>
