<template>
  <li class="col-span-1 flex shadow-sm rounded-md">
    <div :class="[bgColor, 'flex-shrink-0 flex items-center justify-center w-16 text-white text-sm font-medium rounded-l-md']">
      {{ initials }}
    </div>
    <div class="flex-1 flex items-center justify-between border-t border-r border-b border-gray-200 bg-white rounded-r-md truncate">
      <div class="flex-1 px-4 py-2 text-sm truncate">
        <!-- todo use this expression or computed property -->
        <router-link :to="`/teams/${teamId}`">
          {{ name }}
          <p class="text-gray-500">{{ members }} Members</p>
        </router-link>
      </div>
      <div class="flex-shrink-0 pr-2">
        <button
            class="w-8 h-8 bg-white inline-flex items-center justify-center text-gray-400 rounded-full bg-transparent hover:text-gray-500
            focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          <span class="sr-only">Open options</span>
          <DotsVerticalIcon class="w-5 h-5" aria-hidden="true" />
        </button>
      </div>
    </div>
  </li>
</template>

<script>
import { DotsVerticalIcon } from '@heroicons/vue/solid'
export default {
  name: "TeamItem",
  components:{
    DotsVerticalIcon,
  },
  props: ['name', 'members', 'bgColor', 'initials', 'teamId'],
}
</script>