<!-- This example requires Tailwind CSS v2.0+ -->
<template>
  <div>
    <h2 class="text-gray-500 text-sm font-medium uppercase tracking-wide">Our Teams (TailwindCSS & Vue.js Cards Demo)</h2>
    <p class="text-gray-500 text-xs font-medium tracking-wide">Some functionality is still under construction.</p>
    <ul class="mt-3 grid grid-cols-1 gap-5 sm:gap-6 sm:grid-cols-2 lg:grid-cols-4">
      <TeamItem
          v-for="team in teams"
          :key="team.id"
          :name="team.name"
          :members="team.members.length"
          :bg-color="team.bgColor"
          :initials="team.initials"
          :teamId="team.id"
      ></TeamItem>
    </ul>
  </div>
</template>

<script>
import TeamItem from "./TeamItem";

export default {
  components: {
    TeamItem,
  },
  inject: ['teams'],

  setup() {
    return {

    }
  },
}
</script>