@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
/*@import url('https://rsms.me/inter/inter.css');*/

@layer base {
    body {
        @apply bg-gray-50;
    }
    /* Menus */
    /* main nav */
    .mainNav .mainMenuItem{
        @apply text-gray-600 hover:bg-gray-50 hover:text-gray-900 group flex items-center px-2 py-2 text-sm font-medium rounded-md;
    }
    .mainNav .mainMenuItemIcon{
        @apply text-gray-400 group-hover:text-gray-500 mr-3 h-6 w-6;
    }
    .mainNav .router-link-active{
        @apply bg-gray-200 text-gray-900;
    }
    .mainNav .router-link-active .mainMenuItemIcon{
        @apply text-gray-500;
    }
    /* Coaches Menu */
    .coachMenu a.router-link-active > div {
        @apply bg-gray-50 !important;
    }
    /* Monster Slayer Game */
    .btn {
        @apply rounded shadow-sm transition hover:shadow-none px-4 py-2 text-base mx-1 /*dark:text-white*/
    }
    .btn-icon {
        @apply flex items-center
    }
    .btn-gray {
        @apply bg-gray-300 hover:bg-gray-400 /*dark:bg-gray-400 dark:hover:bg-gray-500*/
    }
    .btn-indigo {
        @apply bg-red-700 hover:bg-red-700 text-white /*dark:bg-indigo-400 dark:hover:bg-indigo-500*/
    }
    .monster-health{
        @apply bg-white shadow-sm py-7 px-4 rounded mb-3 flex flex-col items-center mx-2
    }
    .healthbar{
        @apply inline-block min-w-full h-10 rounded-b bg-gray-200 mt-4;
    }
    .healthbar__value{
        @apply bg-teal-300 inline-block rounded-b h-10;
    }
    .log--player {
        @apply text-pink-700;
    }
    .log--monster {
        color: #da8d00;
    }
    .log--damage {
        color: red;
    }
    .log--heal {
        color: green;
    }
    .frontend{
        @apply bg-purple-300;
    }
    .backend{
        @apply bg-green-300;
    }
    .career{
        @apply bg-yellow-300;
    }
}
