<!-- This example requires Tailwind CSS v2.0+ -->
<template>
  <div class="relative bg-gradient-to-r from-purple-300 to-blue-200">
    <div class="min-h-screen flex items-center justify-center mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl">
      <div>
        <div class="text-center ">
          <h2 class="text-xs font-semibold tracking-wide text-gray-700 uppercase pt-10">Vue.js Demo by Edyta Jordan</h2>
          <img class="inline-block text-center" alt="Vue logo" src="../../assets/images/logo.png">
          <p class="mt-6 text-3xl font-extrabold text-gray-800 tracking-tight sm:text-4xl">
            A nice collection of Apps done in Vue.js
          </p>
          <div class="mt-12">
            <!-- Featured Apps -->
            <div class="flex flex-wrap">
              <div v-for="feature in features" :key="feature.name" class="w-full flex flex-col p-4 sm:w-1/2 lg:w-1/3">
                <div class="flex-1 flow-root bg-gray-50 rounded-lg shadow-sm px-6 pb-8">
                  <div class="-mt-6">
                    <div>
                      <span class="inline-flex items-center justify-center p-3 bg-green-500 rounded-md shadow-lg">
                        <component :is="feature.icon" class="h-6 w-6 text-white" aria-hidden="true" />
                      </span>
                    </div>
                    <h3 class="mt-8 text-lg font-medium text-gray-700 tracking-tight">{{ feature.name }}</h3>
                    <p class="mt-5 mb-5 text-base text-gray-500">
                      {{ feature.description }}
                    </p>
                    <a :href="feature.href" class="rounded-md shadow text-sm text-white bg-green-500 py-2 px-3 mt-5">{{ feature.buttonLabel }}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
          <!-- Features -->
        <div class="mt-5 mb-5">
              <div class="max-w-7xl mx-auto py-5 px-4 sm:px-6 lg:py-5 lg:px-8">
                <div class="max-w-3xl mx-auto text-center">
                  <h2 class="text-3xl font-extrabold text-gray-900">Features</h2>
                  <p class="mt-4 text-gray-500">The above APPs feature the following technologies: </p>
                </div>
                <dl class="mt-12 space-y-10 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-12 lg:grid-cols-4 lg:gap-x-8">
                  <div v-for="feature in features2" :key="feature.name" class="relative">
                    <dt>
                      <CheckIcon class="absolute h-6 w-6 text-green-500" aria-hidden="true" />
                      <p class="ml-9 text-lg leading-6 font-medium text-gray-900">{{ feature.name }}</p>
                    </dt>
<!--                    <dd class="mt-2 ml-9 text-base text-gray-500">
                      {{ feature.description }}
                    </dd>-->
                  </div>
                </dl>
              </div>
            </div>
      </div>
    </div>
  </div>
</template>

<script>
import {
  CubeTransparentIcon,
  UserGroupIcon,
  LightBulbIcon,
  CheckIcon,
} from '@heroicons/vue/outline'

const features = [
  { name: 'Monster Slayer Game', icon: CubeTransparentIcon, buttonLabel: 'Become a Slayer', href: '/monster-slayer-game', description: 'Game - Become a Hero by slaying an evil Monster! ' },
  { name: 'Find a Coach App', icon: UserGroupIcon, buttonLabel: 'Find a Coach', href: '/coaches', description: 'An advanced App that allows for filtering of existing coaches and messaging the selected one. Want to become a coach? Register today!' },
  { name: 'Idea Generator App', icon: LightBulbIcon, buttonLabel: 'Generate Ideas', href: '/idea-generator-app', description: 'A project idea generator. Select the skills you want to work on and be given project idea suggestions based on those selections.' },
];

const features2 = [
  {
    name: 'Vue.js 3',
  },
  {
    name: 'Composition API',
  },
  {
    name: 'Hooks / Composables',
  },
  {
    name: 'SPA (Single Page Application)',
  },
  {
    name: 'Vue Router',
  },
  {
    name: 'Vuex',
  },
  {
    name: 'Oauth2 Authentication',
  },
  {
    name: 'TailwindCSS 2.0+',
  },
  {
    name: 'Tailwind UI',
  },
  {
    name: 'PurgeCSS',
  },
  {
    name: 'Axios',
  },
  {
    name: 'Mixins',
  },
  {
    name: 'Provide / Inject',
  },
  {
    name: 'Firebase Realtime Database',
  },
  {
    name: 'Firebase Hosting',
  },
]

export default {
  components: {
    CheckIcon,
  },
  setup() {
    return {
      features,
      features2
    }
  },
}
</script>
