<template>
  <h1 class="mb-2">Dashboard</h1>
  <router-link :class="'rounded bg-blue-400 p-2'" :to="thisLink">Query Link</router-link>
</template>

<script>
export default {
  name: "Dashboard",
  computed:{
    thisLink(){
      return{
        path: '/query-params',
        name: 'Query Params',
        component: null,
        query: {
          sort: 'asc',
              order: 'lowest',
          }
      }
    }
  },
  mounted(){
    //console.log('query params: ', this.$route.query);
  }
}
</script>

