<template>
  <base-card>
    <div class="bg-gray-100 px-4 py-5 border-b border-gray-200 sm:px-6 rounded-tl rounded-tr">
        <div class="-ml-4 -mt-4 flex justify-between items-center flex-wrap sm:flex-nowrap">
      <div class="ml-4 mt-4">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Vue.js Demo Form
        </h3>

      </div>
    </div>
    </div>
    <div class="p-7" >
      <form class="w-1/2" @submit.prevent="submitForm">

        <div class="mb-4">
          <label class="block text-sm font-medium text-gray-700">Your Name</label>
          <div class="mt-1">
            <input type="text" id="user-name" name="user-name" v-model.trim="userName"
                   class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded" />
          </div>
        </div>

        <div class="mb-4">
          <label class="block text-sm font-medium text-gray-700">Your Age (years)</label>
          <div class="mt-1">

            <!-- todo ref will always return a string
                  todo v-model will always guess a number from type="number", but you can add modifiers
            -->
            <input id="age" name="age" type="number" v-model.number="userAge" ref="userAgeInput"
                   class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded" />
          </div>
        </div>


        <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:pt-5">
          <label for="country" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
            Country / Region
          </label>
          <div class="mt-1 sm:mt-0 sm:col-span-2">
            <select id="country" name="country" autocomplete="country" v-model="country"
                    class="max-w-lg block focus:ring-indigo-500 focus:border-indigo-500 w-full shadow-sm sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
              <option value="us">United States</option>
              <option value="ca">Canada</option>
              <option value="mx">Mexico</option>
            </select>
          </div>
        </div>

        <!-- //todo always add values and names to checkboxes and radios. CBs are always an array []. Unless you have a single checkbox, you will get true or false -->

        <!-- todo checkboxes -->
        <div class="space-y-6 sm:space-y-5 divide-y divide-gray-200">
          <div class="pt-6 sm:pt-5">
            <div role="group" aria-labelledby="label-email">
              <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-baseline">
                <div>
                  <div class="text-base font-medium text-gray-900 sm:text-sm sm:text-gray-700" id="label-email">
                    By Email
                  </div>
                </div>
                <div class="mt-4 sm:mt-0 sm:col-span-2">
                  <div class="max-w-lg space-y-4">
                    <div class="relative flex items-start">
                      <div class="flex items-center h-5">
                        <input id="comments" name="comments" value="comments" v-model="emailNotifications" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" />
                      </div>
                      <div class="ml-3 text-sm">
                        <label for="comments" class="font-medium text-gray-700">Comments</label>
                        <p class="text-gray-500">Get notified when someones posts a comment on a posting.</p>
                      </div>
                    </div>
                    <div>
                      <div class="relative flex items-start">
                        <div class="flex items-center h-5">
                          <input id="candidates" name="candidates" value="candidates" v-model="emailNotifications" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" />
                        </div>
                        <div class="ml-3 text-sm">
                          <label for="candidates" class="font-medium text-gray-700">Candidates</label>
                          <p class="text-gray-500">Get notified when a candidate applies for a job.</p>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="relative flex items-start">
                        <div class="flex items-center h-5">
                          <input id="offers" name="offers" value="offers" v-model="emailNotifications" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" />
                        </div>
                        <div class="ml-3 text-sm">
                          <label for="offers" class="font-medium text-gray-700">Offers</label>
                          <p class="text-gray-500">Get notified when a candidate accepts or rejects an offer.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- todo radio buttons -->
        <div class="pt-6 sm:pt-5">
          <div role="group" aria-labelledby="label-notifications">
            <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-baseline">
              <div>
                <div class="text-base font-medium text-gray-900 sm:text-sm sm:text-gray-700" id="label-notifications">
                  Push Notifications
                </div>
              </div>
              <div class="sm:col-span-2">
                <div class="max-w-lg">
                  <p class="text-sm text-gray-500">These are delivered via SMS to your mobile phone.</p>
                  <div class="mt-4 space-y-4">
                    <div class="flex items-center">
                      <input id="push_everything" value="push_everything" name="push_notifications" v-model="pushNotifications" type="radio"
                             class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300" />
                      <label for="push_everything" class="ml-3 block text-sm font-medium text-gray-700">
                        Everything
                      </label>
                    </div>
                    <div class="flex items-center">
                      <input id="push_email" value="push_email" name="push_notifications" v-model="pushNotifications" type="radio"
                             class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300" />
                      <label for="push_email" class="ml-3 block text-sm font-medium text-gray-700">
                        Same as email
                      </label>
                    </div>
                    <div class="flex items-center">
                      <input id="push_nothing"
                             value="push_nothing"
                             name="push_notifications" v-model="pushNotifications"
                             type="radio"
                             class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300" />
                      <label for="push_nothing" class="ml-3 block text-sm font-medium text-gray-700">
                        No push notifications
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div>
          <base-button
              :type="'submit'"
              :class="'px-3 py-2 ml-1 inline-flex text-sm leading-5 font-semibold rounded bg-blue-500 text-white mt-3'"
          >Save User Data</base-button>
    </div>
      </form>
    </div>
  </base-card>
</template>
<script>

export default {
  data(){
    return{
      userName: '',
      userAge: '',
      country: '',
      pushNotifications: null,
      emailNotifications: [], //todo a single checkbox will only be false or true
    }
  },
  methods:{
    submitForm(){
      //console.log(this.userName);
      //console.log(this.userAge);
      //console.log(this.$refs.userAgeInput);
      console.log('push:', this.pushNotifications);
      console.log('by email: ', this.emailNotifications);
    },
  }
}
</script>